body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ee3d48;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    float: right;
}
.logo > img{
    width: 150px;
    height: 45px;
    background: transparent;
    border: none;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

.container {
    margin: 25px;
    border-radius: 60px 80px 10 20;
    float: right;
    width: 85%;
}


h1 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
